<h1>Switch Component</h1>
<input type="text" (input)="setColor($event)" placeholder="Enter a color number" />
{{ color }}
@switch(+color){
    @case (1){
        <div style="width: 200px; height: 200px; background-color: green;"></div>
    }
    @case (2){
        <div style="width: 200px; height: 200px; background-color: blue;"></div>
    }
    @case (3){
        <div style="width: 200px; height: 200px; background-color: red;"></div>
    }
    @case (4){
        <div style="width: 200px; height: 200px; background-color: yellow;"></div>
    }
    @default{
        <div style="width: 200px; height: 200px; background-color: gray;"></div>
    }
}
